<h1 class="m-auto">Result</h1>

<p class="m-auto"><%= @result_start %>
<strong><%= @strong %></strong>
<%= @result_end %></p>
<p class="m-auto">Total score : <%= session[:total_score] %></p>
<div class="m-auto"><%= link_to "Play again", new_path %></div>